/* Body & global styles */
body {
    font-family: 'Georgia', serif;
    color: #333;
    background-color: #fdfcf5;

    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

/* Navigation */
.navbar {
    background-color: #333;
    box-shadow: none;
}

.nav-link {
    color: #663399;
    border-radius: 0; /* Remove rounded corners */
}

.nav-link:hover {
    color: #4b287f;
}

/* Header */
header {
    text-align: center;
    padding: 5em 0;
    background-color: #fdfcf5;
    color: #333;
}

/* Sections */
section {
    padding: 2rem 0;
    border-bottom: 1px solid #333;

    min-height: 100vh;
    scroll-snap-align: start;
}

section h2 {
    color: #333;
}

/* Cards */
.card {
    border-radius: 0; /* Remove rounded corners */
}

.card img {
    border-radius: 0; /* Remove rounded corners */
}

/* Button */
.btn-primary {
    background-color: #663399;
    border-color: #663399;
    border-radius: 0; /* Remove rounded corners */
}

.btn-primary:hover {
    background-color: #4b287f;
    border-color: #4b287f;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #512888;
    border-color: #512888;
    box-shadow: 0 0 0 0.25rem rgba(81, 40, 136, 0.5);
}


/* Footer */
.footer {
    background-color: #333;
    color: #fdfcf5;
}

/* Modals */
.modal-content {
    background-color: #fdfcf5;
    color: #333;
    border-radius: 0; /* Remove rounded corners */
}

.modal-header {
    border-bottom: 1px solid #333;
}

.modal-footer {
    border-top: 1px solid #333;
}

.modal-footer .btn {
    border-radius: 0; /* Remove rounded corners */
}

.btn-close {
    color: #333;
}

.btn-close:hover {
    color: #663399;
}

/* Show the back-to-top link when scrolled down 200px from the top of the page */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    outline: none;
    background-color: #523A5C;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
    font-size: 24px; /* Size of the arrow */
}

.contact-form {
    max-width: 500px;  /* Adjust as needed */
}

